

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.minh-web .navbar-nav>li>a{
color:red;
}
.container{
	display: table;
}
.example{
	margin:0px 170px;
	padding-top:20px;
}
.example .form-horizontal .error{
	color:red;
}
footer{
    background:green;
    font-size:30px;
    line-height: 80px;
}












